/* Common styles */
*{
  margin:0;
}
.body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* About Section */
.about-section {
  background-image: url('aboutusback.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  
}


.section-separator {
  width: 20px;
  height: 2px;
  background-color: #6a1c36;
  margin: 20px auto;
}
.section-subtitle {
  font-size: 1.25rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Mission Section */
.mission-section {
  padding-left: 100px 0;
  padding-top:20px;
  text-align: center;
  background-color: #f9f9f9;
}

.section-divider {
  width: 50px;
  border: 2px solid #6a1c36;
  margin: 20px auto;
}

.learn-more-button {
  display: inline-block;
  background-color: #6a1c36;
  color: white;
  padding: 10px 30px;
  margin: 25px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.learn-more-button:hover {
  background-color: gold;
}

.footer {
  background-color:#6a1c36;
  color: white;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.contact, .vertical-nav, .company-info {
  flex: 1;
}

.contact h3, .company-info a {
  font-size: 1.5rem;
  margin-bottom: 15px;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.contact p {
  font-size: 1rem;
  margin: 0;
  color: #b5b5b5;
}

.contact h3:hover, .company-info a:hover {
  color: gold;
}

.vertical-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-nav ul li {
  margin-bottom: 10px;
}

.vertical-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.vertical-nav ul li a:hover {
  color: gold;
}

.company-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.company-logo-container {
  display: inline-block;
  border: 2px solid gold;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.company-logo-container:hover {
  transform: scale(1.1);
}

.company-info img {
  max-width: 100px;
  margin-bottom: 10px;
  display: block;
}

.company-info p {
  font-size: 1rem;
  margin: 0;
  color: #b5b5b5;
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.content{
  padding-bottom: 50px;
}

/* Add this CSS for responsive design */
@media (max-width: 1500px) {
  
  
 
  
 
  

  
 
  .logo {
    margin-bottom: 10px;
  }
  .footer{
    padding-left: 100px;
    padding-right: 100px;
  }
  
  
  .learn-more-button {
    margin: 20px 0;
  }
}